<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182267355568-ld543ufm35mtr1ab8lduod182vq6h8d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182267355568-ld543ufm35mtr1ab8lduod182vq6h8d7</string>
	<key>API_KEY</key>
	<string>AIzaSyC_0dQIg-OPA2m093yvSKdbkC2Bm1utNu0</string>
	<key>GCM_SENDER_ID</key>
	<string>182267355568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sobitie.2023.3</string>
	<key>PROJECT_ID</key>
	<string>sobitiye-cb37f</string>
	<key>STORAGE_BUCKET</key>
	<string>sobitiye-cb37f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182267355568:ios:cd7d62d37e5428c4d9b675</string>
</dict>
</plist>